@font-face {
  font-weight: 400; /* Соответствует значению normal */
  font-family: "Open Sans";
  src: url("../../fonts/OpenSans/OpenSans-Regular.ttf");
}

@font-face {
  font-weight: 700; /* Соответствует значению bold */
  font-family: "Open Sans";
  src: url("../../fonts/OpenSans/OpenSans-Bold.ttf");
}

@font-face {
  font-weight: 300; /* Соответствует значению light */
  font-family: "Open Sans";
  src: url("../../fonts/OpenSans/OpenSans-Light.ttf");
}

.container {
  color: #6c757d;
  max-width: 547px;
  min-width: 35vw;
  margin: 50px auto 50px auto;
  padding: 0px 5px;
  font: 24px/1.5 "Open Sans", arial, sans-serif;
}

.div-flex {
  display: flex;
  justify-content: space-between;
}

.button-div {
  display: flex;
  align-items: center;
  margin: 0px;
}

.button-danger {
  padding: 0.675rem 0.75rem;
  margin-left: 1.5rem;
  cursor: pointer;
  border: 1px solid #dc3545;
  color: #dc3545;
  background-color: #fff;
  border-radius: 0.25rem;
  font-size: 1rem;
}

.button-danger:hover {
  background-color: #e47983;
  color: #555;
}

.button-simulated {
  padding: 0.675rem 0.75rem;
  cursor: pointer;
  border: 1px solid #358bdc;
  color: #358bdc;
  background-color: #fff;
  border-radius: 0.25rem;
  font-size: 0.8rem;
}

.button-simulated:hover {
  background-color: #358bdcc4;
  color: #555;
}
