.div-aligns-wrap {
  flex-wrap: nowrap;
}

.buttons-renders {
  align-items: center;
  font-size: 0.85rem;
  margin-top: 0.5rem;
}

.button-remove {
  display: block;
  width: 100%;
  height: 1.3rem;
  padding: 0.2rem 0.4rem;
  margin: 0;
  cursor: pointer;
  border: 1px solid var(--main-red-color);
  color: var(--main-red-color);
  background-color: var(--main-white-color);
  border-radius: 0.25rem;
  margin-left: 0.3rem;
  font-size: 0.75rem;
}

.button-edit {
  display: block;
  width: 100%;
  height: 1.3rem;
  padding: 0.2rem 0.4rem;
  margin: 0;
  cursor: pointer;
  border: 1px solid var(--main-gray-color);
  color: var(--main-gray-color);
  background-color: var(--main-white-color);
  border-radius: 0.25rem;
  margin-left: 0.3rem;
  font-size: 0.75rem;
}

.button-remove:hover {
  background-color: var(--hover-pink-color);
  color: var(--hover-gray-color);
}

.button-edit:hover {
  background-color: var(--hover-yellow-color);
  color: var(--hover-gray-color);
}

.checkbox-render {
  transform: scale(1.5);
  opacity: 0.9;
  cursor: pointer;
  margin: 0;
  margin-right: 0.3rem;
}

.task-text {
  text-align: justify;
  font-size: 0.9rem;
  margin: 0 0.5rem;
  margin-right: 1rem;
}
